.body {
    margin: 180px;
    margin-top: 0;
}

.navbar {
    display: flex;
    justify-content: end;
    padding: 5px;
}

.home, .products, .about, .contact {
    padding-left: 15px;
    padding-bottom: 15px;
}

.head {
    color: pink;
    font-size: 40px;
    line-height: 50px;
    font-family: Verdana, sans-serif;
}

div > h4 {
    font-size: 20px;
    line-height: 30px;
    font-family: Georgia, serif;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
}